@import "../styles/color-styles.css";

.post a {
  color: var(--lightblue);
}

.post ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.post li{
  margin-right: 10px;
  margin-top: 5px;
  font-size: 1em;
  /* width: 85px; */
  height: 1.25em;
  line-height: 1.25em;
  text-align: center;
  color: white;
  background-color: var(--darkblue);
  border-radius: 18px;
  padding: 5px 1em;
  /*box-shadow: 2px 2px 3px darkgray;*/
}
