.container{
  justify-content: center;
  align-items: center;
}

.picture{

}

@media(max-width: 600px) {
  .container{
    flex-direction: column-reverse;
    padding-top: 20px;
  }
  .picture{
    width: 50%;
  }
}
